[Desktop Entry]
Name=Zippl
Name[bg]=Zippl
Name[cs]=Zippl
Name[da]=Zippl
Name[es]=Zippl
Name[et]=Zippl
Name[fi]=Zippl
Name[ga]=Zippl
Name[hu]=Zippl
Name[it]=Zippl
Name[nl]=Zippl
Name[pl]=Zippl
Name[pt]=Zippl
Name[pt_BR]=Zippl
Name[sk]=Zippl
Name[sv]=Zippl
Name[uk]=Zippl
Name[x-test]=xxZipplxx
Comment=A lightweight presentation tool
Comment[bg]=Лек инструмент за презентации
Comment[da]=Letvægts præsentationsprogram
Comment[es]=Una herramienta de presentaciones ligera
Comment[et]=Väike esitluste tööriist
Comment[fi]=Kevyt esittelytyökalu
Comment[ga]=Uirlis éadrom láithreoireachta
Comment[hu]=Egy könnyűsúlyú bemutató eszköz
Comment[it]=Uno strumento di presentazione leggero
Comment[nl]=Een lichtgewicht presentatieprogramma
Comment[pl]=Lekkie narzędzie prezentacji
Comment[pt]=Uma ferramenta leve para apresentações
Comment[pt_BR]=Uma ferramenta leve para apresentações
Comment[sk]=Ľahký prezentačný nástroj
Comment[sv]=Ett lättviktigt presentationsverktyg
Comment[uk]=Невибагливий інструмент для презентацій
Comment[x-test]=xxA lightweight presentation toolxx
Exec=/usr/bin/zippl
Icon=zippl
Type=Application
Categories=Office
